run = "python api/app.py"
modules = ["python310", "nodejs-18"]

[env]
PYTHONUNBUFFERED = "1"

[nix]
channel = "unstable"

[[ports]]
localPort = 5000
externalPort = 443

[[ports]]
localPort = 5173
externalPort = 80
